@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", "sans-serif";
}
:root {
  --bgorange: #de4949;
}
#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.container1 {
  max-width: 80vw;
  margin: 0 auto;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.logocontainer {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0 4em;
  flex-wrap: wrap;
}
.nav-items div a {
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav-items div a:hover {
  font-weight: bold;
  transition: 0.8s;
}
.logo {
  width: 60px;
}
.name {
  font-size: 28px;
  margin-left: -0.9rem;
  margin-top: 0.7rem;
}

.herosection {
  display: flex;
  margin: 4rem auto;
  padding: 0 4rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 3rem;
}
.herosection-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
}
.herosection-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}
.herosection-subheading {
  font-size: 45px;
  line-height: 45px;
}
.role {
  color: #4e45d5;
  font-weight: 800;
}
.herosection-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink {
  background-color: var(--bgorange);
  width: max-content;
  color: white;
  font: 18px;
  font-weight: 500;
  padding: 0.8rem 2.3rem;
  text-align: center;

  box-shadow: 5px 5px 7px 0px #0000003f;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}
#container-btn {
  border: solid 3px transparent;
}
.btn-pink::before {
  content: " ";
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  z-index: -1;
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink:hover {
  color: black;
  border: 3px solid var(--bgorange);
  cursor: pointer;
}
.btn-pink:hover::before {
  transform: scaleX(1);
}
.herosection-right {
  position: relative;
}
.user-image {
  width: 250px;
  padding: 2rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scale-image 5s linear infinite;
}
@keyframes scale-image {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }
  50% {
    filter: grayscale(1);
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    filter: grayscale(0);
    transform: scale(1);
  }
}
.project-section {
  background: linear-gradient(to bottom, rgb(231, 231, 231), white);
  margin-bottom: 5rem;
}
.page-heading {
  color: #e84949;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 3em;
}
.project-container {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.project-card {
  height: 350px;
  width: 90%;
  background-image: url("images/Screenshot\ \(47\).png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 7px 7px #0000003f;
  position: relative;
  z-index: 1;
}
#project2 {
  background-image: url("images/Screenshot\ \(50\).png");
  margin-left: 5rem;
}
#project3 {
  background-image: url("images/Screenshot\ \(55\).png");
}
.project-content {
  width: 50%;
  color: white;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  transition: all linear 0.2s;
}
.project-skills-container {
  display: flex;
  gap: 0.5rem;
}
.project-skills-logo {
  width: 40px;
}
.project-card::after {
  content: "";
  background-color: #4a4a4a75;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.project-card::before {
  content: "";
  background-color: #2e376773;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: all linear 0.3s;
  transform-origin: left;
  z-index: 1;
}
.project-card:hover::before {
  transform: scaleX(1);
}
.btn-project:hover {
  border: none;
}
.project-number-right {
  position: absolute;
  font-size: 8rem;
  color: white;
  right: -1rem;
  top: -1.7rem;
  z-index: 7;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  transition: all linear 0.3s;
}
.project-number-left {
  position: absolute;
  font-size: 8rem;
  color: white;
  left: -1rem;
  top: -1.7rem;
  z-index: 7;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}
.project-card:hover .project-number {
  display: block;
}
.btn-group {
  display: flex;
  gap: 1rem;
}
.btn-group i {
  font-size: 30px;
}
.btn-group i:hover {
  cursor: pointer;
}
.project-card:hover .project-content {
  transform: scale(1.2);
}
.container2 {
  width: 76vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.skills-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.skills-container-heading {
  color: #e84949;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 3rem;
}
.skills-container-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.skills-container-right {
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 20%;
}
.caps {
  font-weight: bold;
  font-size: 54px;
}
.skills-heading {
  font-size: 30px;
  color: var(--bgorange);
}
.skills-subheading {
  word-spacing: 0.2rem;
  width: 80%;
}
.skills-subheading p:first-child {
  margin-bottom: 1rem;
}
.skillsection-container-logo {
  width: 5rem;
  transition: all linear 0.3s;
}
.skillsection-container-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.resume-container {
  width: 100vw;
  margin-bottom: 2rem;
}
.resume-heading {
  color: #e84949;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.download-resume-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#resume-download-button {
  border: none;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}
.contact-container {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.contactus-container {
  width: 100%;
  background-color: rgb(231, 231, 231);
}
.contactus-heading {
  font-size: 3rem;
  color: var(--bgorange);
  padding-top: 2rem;
}
.contactus-subheading {
  font-size: 1.5rem;
  color: #313c72aa;
  text-transform: capitalize;
}
.contactus-form-container {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 5rem;
}
.formfield-container {
  width: 100%;
}
.formfield {
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  height: 35px;
  padding: 0 2rem;
  margin: 0.7rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
}
.formfield-textarea {
  height: auto;
  padding: 1rem;
}
#submit-btn {
  border: none;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}
footer {
  background-color: #343d68;
  position: relative;
  padding: 5rem;
  margin-top: -1px;
}
.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}
.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  font-size: 4rem;
  user-select: none;
  z-index: 1;
}
.link-wrapper {
  display: flex;
  gap: 1.2rem;
  z-index: 2;
}
.link-wrapper div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}
.link-wrapper div a:hover {
  color: var(--bgorange);
}
.icon-wrapper {
  display: flex;
  gap: 1rem;
  z-index: 2;
}
.icon-wrapper i {
  font-size: 23px;
  color: white;
  transition: all linear 0.3s;
}
.icon-wrapper i:hover {
  color: #e84949;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .nav-items {
    gap: 1rem;
    padding: 2em 2em;
  }
  .herosection {
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .project-container {
    width: 100vw;
    justify-content: center;
  }
  .project-card {
    width: 95vw;
    height: 50vw;
    margin: 0 auto;
  }
  .project-content {
    font-size: 3%;
    gap: 1vw;
  }
  .project-skills-container {
    display: flex;
    gap: 1vw;
  }
  .project-skills-logo {
    width: 5vw;
  }
  .btn-group {
    display: flex;
    gap: 1vw;
  }
  .btn-project {
    padding: 1vw 1vw;
    height: 5vw;
  }
  .btn-group i {
    font-size: 5vw;
  }
  #project2 {
    margin: 0 auto;
  }
  .container2 {
    width: 100vw;
  }
  .skills-container {
    width: 90%;
  }
  .skills-container-right {
    height: auto;
    gap: 2vw;
  }
  .skills-container-right {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30vw);
  }
  .formfield {
    font-size: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .footer-faded-text {
    font-size: 2rem;
  }
  footer {
    padding: 2rem;
  }
  .footer-wrapper {
    flex-wrap: wrap;
  }
}
